{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"],
  "parserOptions": { 
    "ecmaVersion": 2018,
    "project": "./tsconfig.json"
   },
  "rules": {
    "linebreak-style": "off"
  }
}